#footer{
    background-color:rgba(118, 87, 52,);
    width: 95%;
    margin: auto;
    color: #eee5de;
    text-align: center;
    font-size: .8rem;
    padding: .5rem;

                /* Media Query para dispositivos móviles en orientación landscape */
                @media only screen and (max-width: 768px) {}
                /* Media Query para tablets en orientación landscape */
                @media only screen and (min-width: 768px) and (max-width: 1024px){}
                /* Media Query para dispositivos de escritorio en orientación landscape */
                @media only screen and (min-width: 1024px) and (max-width: 1380px){}
}